apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

patches:
  - patch: |-
      apiVersion: v1
      kind: Service
      metadata:
        name: any
        annotations:
          my-annotation: blubb
    target:
      labelSelector: my-label=foo

resources:
  - yml.yml
